/* name.css */
.names {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-family: 'Great Vibes', cursive;
}

.ampersand {
color: #ff0000;
font-size: 24px;
margin-right: 10px;
margin-left: 10px;
}

.name-container {
  text-align: center;
  margin-top: 20px;
  
}

.name-text {
  display: inline-block;
  margin-right: 10px; /* Adjust the value to increase/decrease word spacing */
}
