/* relation-text.css */
.relation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.textline-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.line {
  height: 1px;
  width: 50px;
  background-color: #ffffff;
}

.line-text {
  padding: 0 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
